@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 0 0% 9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 99%;
    --primary-hover: 0 0% 43.5%;

    --secondary: 0 0% 95.1%;
    --secondary-foreground: 0 0% 9%;
    --secondary-hover: 0 0% 93%;
    --secondary-active: 0 0% 90.9%;

    --muted: 0 0% 11%;
    --muted-foreground: 0 0% 62.8%;

    --border: 0 0% 85.8%;
    --border-emphasis: 0 0% 78%;
    --border-subtle: 0 0% 88.7%;

    --success: 141 84% 93%;
    --success-emphasis: 142 71% 45%;

    --attention: 55 97% 88%;

    --warning: 359 100% 99.4%;
    --warning-foreground: 358 65% 48.7%;
    --warning-border: 359 74.2% 81.7%;
    --warning-emphasis: 359 69.5% 74.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
